body {
    padding-top: 60px;
}
form {
    width: 68%;
    margin-left: auto;
    margin-right: auto;
    border: solid 3px #0080FF;
    padding-top: 60px;
    padding-right: -37px;
    padding-bottom: 60px;
    padding-left: 60px;

}

p , span{
    color: red;
}

.div {
    margin: 12px 0px;
    display: flex;
}

.label-left {
    text-align: center;
    background: #33CC33;
    padding: 8px 10px;
    border: solid 2px #0000FF;
    width: 20%;
    display: block;
    color: white;
}

#fullname, #address, select {
    margin-left: 20px;
    border: 2px solid #0080FF;
    border-radius: 4px;
    width: 60%;
}
#file {
    margin-left: 20px;
    padding-top: 8px;
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 80%;
}

#birthday {
    /* margin-top: -11px; */
    width: 75%;
    height: 45px;
    margin-left: 20px;
    border: 2px solid #0080FF;
    border-radius: 4px;
}

.date {
    height: 45px;
    margin: 12px 0px;
    display: flex;
}

/* input, select:focus {
    border: 2px solid #4169E1;
    outline: none;
} */

.radio {
    margin-left: 20px;
}

.gtinh {
    margin-top: 12px;
    margin-left: 5px;
}

button {
    background:#33CC33;
    padding: 8px 10px;
    border: solid 2px #0000FF;
    width: 25%;
    display: block;
    color: white;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;

}

button:hover {
    cursor: pointer;
    background-color: #088A29;
}

img{
    margin-left: 150px;
    margin-top: -50px;
}

p {
    margin-left: 20px;
    width: 60%;
    margin-top: 10px;
    height: 30px;
}
